<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ea nemo est maxime unde, veritatis et repudiandae odio rem quo? Quaerat, laudantium inventore est nam veniam reiciendis possimus ratione illum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, iure.</p>
    <a href="/task/create" class="btn btn-primary btn-lg">Task List</a>
</div>